{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}
        
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h4>{{message}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <form action="/register/new" method="post">
        <h2>Register</h2>
        <div class="container">

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>

        <button type="submit">Register</button>
        <br>
        <a href ="/login">Already have an account?</a>
        </div>
    
        </div>
    </form>
{% endblock %}